# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs and temp files
*.log
*.tmp
*.bak

# OS files
.DS_Store
Thumbs.db

# Local data
*.sqlite
*.sqlite3
*.db
*.pdf
*.gguf
# Environment files
.env
# PyTest cache
.pytest_cache/

